Source: ros-kilted-toppra
Section: misc
Priority: optional
Maintainer: Hung Pham <hungpham2511@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, pybind11-dev, python3-dev, ros-kilted-ament-cmake, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-ament-cmake-python, ros-kilted-ros-workspace
Homepage: https://hungpham2511.github.io/toppra/index.html
Standards-Version: 3.9.2

Package: ros-kilted-toppra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-kilted-ros-workspace
Description: Time-Optimal Path Parameterization
